// sass-lint:disable mixins-before-declarations

.product-page {

  .container {
    max-width: 1260px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .ofac-message {
    clear: both;
  }
}

.upgrade-enrollment-modal {
  max-width: 550px;

  .modal-content {
    padding: 5px 12px;

    .required {
      color: $brand-button-bg;
    }
  }

  .modal-header {
    font-weight: 600;
    font-size: large;
    border-bottom: none;
    padding-bottom: 0;

    h5 {
      font-size: 30px;
    }

    span {
      font-size: 45px;
      font-weight: 200;
    }
  }

  a {
    text-decoration: underline;
  }

  .modal-subheader {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .cancel-link, .faq-link {
    margin: 20px 0;
  }

  .faq-link {
    text-align: center !important;
  }

  .faq-link a {
    color: black;
    font-weight: bold;
  }

  .faq-link a:visited {
    color: rgba(0, 0, 0, 0.14);
  }

  .upgrade-icon {
    background: url("https://via.placeholder.com/150 ") left no-repeat;
    height: 70px;
  }

  .enroll-now-free {
    text-decoration: underline;
    box-shadow: none;
    font-weight: bold;
    border: none;
  }
}
